body {
  margin: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.my-button {
  padding: 15px 30px;
  background-color: #138808;
  color: white;
  text-decoration: none;
  border-radius: 5px;
}
